* { box-sizing: border-box; }

body { margin: 0;}

.turtle { background-color: #87b741;  display: flex;}

.name {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
}

.description,
.mask { padding: 20px; }

.leonardo .mask { background-color: #65b7e7; }
.raphael .mask { background-color: #ef3040; }
.michelangelo .mask { background-color: #fcc257; }
.donatello .mask { background-color: #bd64a8; }

.leonardo .name { color: #65b7e7; }
.raphael .name { color: #ef3040; }
.michelangelo .name { color: #fcc257; }
.donatello .name { color: #bd64a8; }

@media screen and (max-width: 750px) {
  .turtle {
    flex-direction: column;
    align-items: center;
  }
  .name {
    width: 100%;
    text-align: center;
  }
  .mask {
    width: 100%;
    justify-content: center;
    display: flex;
  }
}

@media screen and (min-width: 751px) {
  /*Bleu*/
  .leonardo {
    justify-content: flex-start;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
  .leonardo .name {
    width: 100%;
    text-align: center;
  }
  .leonardo .mask {
    width: 50%;
    justify-content: flex-start;
  }
  .leonardo .description {
    width: 50%;
  }

  /*Rouge*/
  .raphael {
    flex-wrap: wrap;
  }

  .raphael .mask {
    width: 100%;
    order: 3;
  }
  .raphael .name {
    width: 100%;
    text-align: center;
    order: 2;
  }
  .raphael .description {
    justify-content: space-between;
    order: 4;
    width: 100%;
  }

  .raphael ul {
    display: flex;
  }
  
  .raphael li {
    justify-content: space-around;
    width: 100%;
  }

/*Jaune*/
.michelangelo {
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}

.michelangelo .name {
  width: 100%;
  text-align: center;
}

.michelangelo .mask {
  width: 50%;
  justify-content: flex-end;
}

.michelangelo .description {
  justify-content: space-between;
}

/*Mauve*/
.donatello {
  flex-wrap: wrap;
}

.donatello .name {
  width: 100%;
  text-align: center;
  }

.donatello .mask {
  width: 100%;
  }

.donatello .description {
  width: 100%;
  }


.donatello ul {
  display: flex;
}

.donatello li {
  justify-content: space-around;
  width: 100%;
}
}