* { box-sizing: border-box; }

body { margin: 0; }

.turtle { background-color: #87b741; }

.name {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
  display:flex;
  justify-content:center;
  width:100%;
}

.description,
.mask { padding: 20px; 
  display:flex;
  justify-content:center;
  
  
}



.leonardo .mask { background-color: #65b7e7; }
.raphael .mask { background-color: #ef3040; }
.michelangelo .mask { background-color: #fcc257; }
.donatello .mask { background-color: #bd64a8; }

.leonardo .name { color: #65b7e7; }
.raphael .name { color: #ef3040; }
.michelangelo .name { color: #fcc257; }
.donatello .name { color: #bd64a8; }

@media screen and (min-width: 750px){
  .turtle{
    display:flex;
    flex-wrap:wrap;
  }
  .name{
    width:100%;

  }
  .leonardo{
    display:flex;
    flex-wrap:wrap;
  }
  .leonardo .mask , .leonardo .description{
    display:flex;
    width:50%;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    flex-direction:column-reverse;
  }
  .leonardo .mask{
    order:0;
  }
  .leonardo .description{
    order:1;
  }
  
  
  .raphael{
    display:flex;
    flex-wrap:wrap;
    
    
  }
  .raphael .mask , .raphael .description{
      display:flex;
      width:100%;
      flex-wrap:wrap;
      justify-content:center;
      align-items:center; 
  }
  .raphael ul{
    display:flex;
    width:100%;
    justify-content:space-between;
  }
  .raphael .mask{
    order:0;
  }
  .raphael .description{
    order:1;
  }

  .michelangelo{
    display:flex;
    flex-wrap:wrap;
  }
  .michelangelo .mask , .michelangelo .description{
    display:flex;
    width:50%;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    flex-direction:column-reverse;
  }
  .michelangelo .mask{
    order:1;
  }
  .michelangelo .description{
    order:0;
  }

  .donatello{
    display:flex;
    flex-wrap:wrap;
    
    
  }
  .donatello .mask , .donatello .description{
      display:flex;
      width:100%;
      flex-wrap:wrap;
      justify-content:center;
      align-items:center; 
  }
  .donatello ul{
    display:flex;
    width:100%;
    justify-content:space-between;
  }
  

}






