* { box-sizing: border-box; }

body { margin: 0; }

.turtle { background-color: #87b741; }

.name {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
}

.description,
.mask { padding: 20px; }

.leonardo .mask { background-color: #65b7e7; }
.raphael .mask { background-color: #ef3040; }
.michelangelo .mask { background-color: #fcc257; }
.donatello .mask { background-color: #bd64a8; }

.leonardo .name { color: #65b7e7; }
.raphael .name { color: #ef3040; }
.michelangelo .name { color: #fcc257; }
.donatello .name { color: #bd64a8; }

.name, .description, .mask { 
    display: flex;
    justify-content: center;
  }

@media screen and (max-width: 750px) {

  .turtle {
    display: flex;
    flex-direction: column;
  }

  .name, .description, .mask {
    display: flex;
    justify-content: center;
  } 

  .name{
    order: -1;
  }

  .mask{
    order: 0;
  } 

  .description{
    order: 1;
  } 

} 

@media screen and (min-width: 750px) {
  
  .name {
   display:flex;
   justify-content: center;
 } 

 /*Raphael et Donatello*/
 .turtle.donatello .mask, .turtle.raphael .mask {
  display:flex;
  justify-content: center;
} 
 .turtle.donatello ul, .turtle.raphael ul {
  display:flex;
  justify-content: space-between;
} 

/*Leonardo et MichelAngelo*/
.turtle.leonardo .mask  {
  display:flex;
  justify-content: flex-start;
} 

.turtle.leonardo .description {
  display:flex;
  justify-content:flex-end ;
} 

.turtle.leonardo .description, .turtle.leonardo .mask  {
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
} 


.turtle.michelangelo .mask {
  display:flex;
  justify-content: flex-end;
} 

.turtle.michelangelo .description  {
  display:flex;
  justify-content:flex-start ;
} 

 
}
